@use '../colors' as *;
@use '../tokens' as *;

.pf-layout {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 space(xl);

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 0 space(md);
  }

  &__sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: space(3xl) 0;

    @media (max-width: 1024px) {
      position: relative;
      width: 100%;
      max-height: auto;
      padding: space(xl) 0;
    }
  }

  &__content {
    width: 50%;
    padding: space(3xl) 0;

    @media (max-width: 1024px) {
      width: 100%;
      padding: space(xl) 0;
    }
  }
}

.pf-section {
  margin-bottom: 6rem; /* 96px */
  scroll-margin-top: 4rem; /* 64px */

  @media (max-width: 1024px) {
    margin-bottom: 4rem; /* 64px */
    scroll-margin-top: 4rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--color-text);
    margin-bottom: space(md);
    
    @media (min-width: 1025px) {
      display: none;
    }
  }
}
